html
  head
    link(rel="stylesheet" href='style.css')
    title Ticket List
  body
    ul
      li
        a(href='/create') Create new ticket
      li
        a(href='/logout') Logout
    if tickets.length > 0
      .table
        .table-head
          .table-row
            .table-cell #
            .table-cell Summary
            .table-cell Description
            .table-cell Creator
        .table-body
          each ticket in tickets
            .table-row
              .table-cell
                = ticket.ticket_num
              .table-cell
                = ticket.summary
              .table-cell
                = ticket.description
              if ticket.name
                .table-cell
                  = ticket.name
              else
                .table-cell
                  = ticket.username
    else
      p No tickets
